<!-- SHORTCODE_STREAMLINE; SHORTCODE_CLASSES -->

<form class="contact-form" action="https://formsubmit.co/biochemprotocols@gmail.com" method="POST">
  
  <input type="hidden" name="_captcha" value="false">
  <input type="hidden" name="_template" value="table">
  <input type="hidden" name="_next" value="https://spikemurphy.github.io/Laboratory/contact/contact_thanks">

  <label for="name">Name</label>
  <input type="text" id="name" name="name" required>

  <label for="surname">Surname</label>
  <input type="text" id="surname" name="surname" required>

  <label for="email">Email</label>
  <input type="email" id="email" name="email" required>

  <label for="country">Country</label>
  <input type="text" id="country" name="country" >

  <label for="institution">Institution</label>
  <input type="text" id="institution" name="institution" required>

  <label for="topic">Current position</label>
  <select id="topic" name="topic" required>
    <option value="" disabled selected>Select your current position</option>
    <option value="other">Technical Lab Assistant</option>
    <option value="general_request">B. Sc. Student</option>
    <option value="general_request">M. Sc. Student</option>
    <option value="collaboration">Doctoral Candidate</option>
    <option value="data_request">Postdoctoral Researcher</option>
    <option value="data_request">Group Leader</option>
    <option value="data_request">Professor</option>
    <option value="data_request">Institute Director</option>
    <option value="data_request">Other</option>
  </select>

  <label for="topic">Topic</label>
  <select id="topic" name="topic" required>
    <option value="" disabled selected>Select your topic</option>
    <option value="general_request">Chemical Formulation</option>
    <option value="collaboration">Buffer Formulation</option>
    <option value="data_request">Standard Operating Procedure</option>
    <option value="data_request">Electronic Lab Notebook</option>
    <option value="data_request">SOP Service</option>
    <option value="data_request">Institutional Inquiries</option>
    <option value="data_request">Company Cooperations</option>
    <option value="data_request">Bugfixes</option>
    <option value="other">Other</option>
  </select>

  <label for="file">Attach File (optional)</label>
  <input type="file" id="file" name="attachment">

  <label for="message">Message and additional information</label>
  <textarea id="message" name="message" rows="5" required></textarea>

  <button type="submit">Send Message</button>

  <label>
    <input type="checkbox" name="agree_terms" required>
      I agree to the
      <a href="/BiochemProtocols/legal/privacy_policy/" target="_blank">Privacy Policy</a>
      and
      <a href="/BiochemProtocols/legal/terms_of_use/" target="_blank">Terms of Use</a>
  </label>
  
</form>
