/* =================================== */
/* =================================== */
/* CSS_TODO: enhance, but it is ok for now */
/* =================================== */
/* =================================== */


.footer {
    align-items: center;
    background: linear-gradient(90deg, #1f2937ee, #111827ee);
    box-shadow: 0 -2px 6px rgb(116, 136, 162);
    color: #d2e9ff;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    padding: 15px 10%;
}
body.darkmode footer {
    background: linear-gradient(90deg, #111827, #000000);
    box-shadow: 0 2px 6px rgb(29, 47, 68);
    color: #c2e1ff;
}



.footer_rights {
    color: #48a7ff;
    font-weight: 400;
}
body.darkmode .footer_rights {
    color: #3b82f6;
    font-weight: 400;
}



ul.footer_navigation {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
li.footer_navigation li {
    list-style: none;
}
li.footer_navigation a {
    color: #d2e9ff;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 2px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
li.footer_navigation a:hover {
    color: #3b82f6;
    border-bottom: 2px solid #3b82f6;
}



ul.footer_controls {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
