{{ define "main" }}

<section class="sheets-book">

  <header class="sheets-header">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}
      <p class="sheets-intro">{{ . }}</p>
    {{ end }}
  </header>

  {{ if eq .RelPermalink "/biochemsheets/chemicals/" }}

    <ul class="chapter-list">
      {{ range .Sections.ByTitle }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    </ul>

  {{ else }}

    <ul class="sheets-list">
      {{ range .Pages.ByTitle }}
        <li>
          <a href="{{ .RelPermalink }}">

            <span class="sheets-left">
              <span class="sheets-name">{{ .Title }}</span>
              {{ with .Params.formula }}
                <span class="sheets-formula">({{ . }})</span>
              {{ end }}
            </span>

            <span class="sheets-leader"></span>

            <span class="sheets-right">
              {{ with .Params.cas }}
                {{ . }}
              {{ end }}
            </span>

          </a>
        </li>
      {{ end }}
    </ul>

  {{ end }}

</section>

{{ end }}
