<!-- SHORTCODE_TODO: update with together with css -->

<footer class="footer">
    <div class="footer_rights"> <!--© 2025 Murphy Biochemistry UG (haftungsbeschränkt) · All Rights Reserved --> </div>
    <ul class="footer_navigation">
        <li class="footer_navigation"><a href="{{ "contact/contact" | relURL }}">{{"Contact"}}</a></li>
        <li class="footer_navigation"><a href="{{ "legal/legal_notice" | relURL }}">{{"Legal Notice (Impressum)"}}</a></li>
        <li class="footer_navigation"><a href="{{ "legal/privacy_policy" | relURL }}">{{"Privacy Policy"}}</a></li>
        <li class="footer_navigation"><a href="{{ "legal/terms_of_use" | relURL }}">{{"Terms of Use"}}</a></li>
    </ul>
    <ul class="footer_controls">
        <li class="footer_controls">
            <label class="switchbox">
                <input type="checkbox" id="theme-toggle">
                <span class="slider"></span>
            </label>
        </li>
    </ul>
</footer>