<div class="login_overlay"></div>

<div class="wrapper_login">
    <span class="icon_close"><ion-icon name="close"></ion-icon></span>
    <div class="login_register_forms">    
        <div class="login_form">
            <h2>Login</h2>
            <form action="#">
                <div class="input_box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input_box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="remember_forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn_login_form">Login</button>
                <div class="login_register">
                    <p>Don't have an account? <a href="#" class="register_link">Register</a></p>
                </div>
            </form>
        </div>
        <div class="registration_form">
            <h2>Registration</h2>
            <form action="#">
                <div class="registration_form_names">
                    <div class="input_box">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <input type="name" required>
                        <label>Surname</label>
                    </div>
                    <div class="input_box">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <input type="name" required>
                        <label>Last Name</label>
                    </div>
                </div>
                <div class="input_box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input_box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="remember_forgot">
                    <label><input type="checkbox">Agree to the Terms of Use</label>
                </div>
                <button type="submit" class="btn_login_form">Register</button>
                <div class="login_register">
                    <p>Already have an account? <a href="#" class="login_link">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ "js/login.js" | relURL }}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
