<nav class="navigation">
    <a href="{{ "" | relURL }}"><img class="logo" src="{{ "images/3biochem_white.png" | relURL }}" alt="Logo"></a>
    <ul class="navigation">
        <li class="navigation"><a href="{{ "" | relURL }}">{{"Home"}}</a></li>
        <li class="navigation"><a href="{{ "recipes" | relURL }}">{{"Recipes"}}</a></li>
        <li class="navigation"><a href="{{ "methods" | relURL }}">{{"Methods"}}</a></li>
        <li class="navigation"><a href="{{ "workflows" | relURL }}">{{"Workflows"}}</a></li>
        <li class="navigation"><a href="{{ "labjournal" | relURL }}">{{"Labjournal"}}</a></li>
        <li class="navigation"><button class="btn_login">Login</button></li>
    </ul>
</nav>