<!-- SHORTCODE_DONE -->

<nav class="navigation">
    <a href="{{ "" | relURL }}" class="logo-link">
        <img class="logo logo-light"
            src="{{ "images/logos/Logo_Murphy_Biochemistry_Cropped_Light.png" | relURL }}"
            alt="Logo Light">
        <img class="logo logo-dark"
            src="{{ "images/logos/Logo_Murphy_Biochemistry_Cropped_Dark.png" | relURL }}"
            alt="Logo Dark">
    </a>
    <ul class="navigation">
        <li class="navigation"><a href="{{ "" | relURL }}">{{"Home"}}</a></li>
        <li class="navigation"><a href="{{ "biochemsheets" | relURL }}">{{"BiochemSheets"}}</a></li>
        <li class="navigation"><a href="{{ "recipes" | relURL }}">{{"Recipes"}}</a></li>
        <li class="navigation"><a href="{{ "protocols" | relURL }}">{{"Protocols"}}</a></li>
        <li class="navigation"><a href="{{ "workflows" | relURL }}">{{"Workflows"}}</a></li>
        <li class="navigation"><a href="{{ "labjournal" | relURL }}">{{"Labjournal"}}</a></li>
        <li class="navigation"><a href="{{ "user/registration/pricing/" | relURL }}">{{"Pricing"}}</a></li>
        <li class="navigation"><button class="btn_login" data-state="logged-out">Login</button></li>
    </ul>
</nav>