<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/navigation.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/login.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/pricing_table_public.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/header.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/buttons.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/dropdowns.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/calc_bacterial_growth.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/table_sds-page_gels.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/footer.css" | relURL }}">
    <!-- biochemsheets -->
    <link rel="stylesheet" href="{{ "css/biochemsheets/chapters.css" | relURL }}">
    <!-- biochemsheets -->
    <!-- math -->
    {{ if .Params.math }}
      {{ partial "math.html" . }}
    {{ end }}
    <!-- math -->
    
    <title>Document</title>
</head>

<body {{ with .Params.required_plan }} data-required-plan='{{ delimit . "," }}' {{ end }}>

    {{ partial "navigation" . }}

    {{ partial "login" . }}

    {{ if not .Params.noheader }}
      {{ partial "header" . }}
    {{ end }}
    
    <main>

            {{block "main" . }}

            {{end}}

    </main>

    {{ partial "footer" . }}


<!-- Supabase initialization -->
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
<script>
  window.supabaseClient = supabase.createClient(
    'https://hkcytxqlswwcfwegpjnf.supabase.co',
    'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrY3l0eHFsc3d3Y2Z3ZWdwam5mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY4Mjg2NjIsImV4cCI6MjA4MjQwNDY2Mn0.EPVpZ-1HaM3jhN87FXpJyCP7mmOEzS7zy-HQNZlytF0'
  );
</script>
<!-- Supabase initialization order auth, sub, guard -->
<!-- authentication -->
<script src="{{ "js/user/auth.js" | relURL }}"></script>
<!-- authentication -->
<!-- subscription -->
<script src="{{ "js/user/subscription.js" | relURL }}"></script>
<!-- subscription -->
<!-- subscription -->
<script src="{{ "js/user/guard.js" | relURL }}"></script>
<!-- subscription -->

<!-- access code -->
<script>
  window.ACCESS_CODES = {{ .Site.Data.access.passwords | jsonify | safeJS }};
</script>
<script src="{{ "js/user/access.js" | relURL }}"></script>
<!-- access code -->

<!-- scripts -->
<script src="{{ "js/theme_toggle.js" | relURL }}"></script>
<script src="{{ "js/calculators/age_buffer_select.js" | relURL }}"></script>
<script src="{{ "js/calculators/age_mastermix_prep_calc.js" | relURL }}"></script>
<script src="{{ "js/calculators/age_sample_prep_calc.js" | relURL }}"></script>
<script src="{{ "js/calculators/pcr_mastermix_prep_calc.js" | relURL }}"></script>
<script src="{{ "js/calculators/age_following_pcr_buffer.js" | relURL }}"></script>
<script src="{{ "js/timer.js" | relURL }}"></script>
<script src="{{ "js/calculators/transformation_from_pcr_mastermix_prep_calc.js" | relURL }}"></script>
<script src="{{ "js/alternative_switches/primer_alternative.js" | relURL }}"></script>

<script src="{{ "js/alternative_switches/alt_methods.js" | relURL }}"></script> <!-- baseof is correct -->

<script src="{{ "js/calculators/calc_recipe_x.js" | relURL }}"></script> <!-- baseof is correct -->
<script src="{{ "js/calculators/calc_recipe_vol.js" | relURL }}"></script> <!-- baseof is correct -->
<script src="{{ "js/calculators/calc_recipe_mol.js" | relURL }}"></script> <!-- baseof is correct -->
<script src="{{ "js/calculators/calc_recipe_amount.js" | relURL }}"></script> <!-- baseof is correct -->

<script src="{{ "js/comment_box.js" | relURL }}"></script>

<script src="{{ "js/save_page.js" | relURL }}"></script>

{{ if .Page.HasShortcode "table_sds-page_gels" }}
<script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.1/dist/jspdf.umd.min.js"></script>
<script src="{{ "js/table_sds-page_gels.js" | relURL }}"></script>
{{ end }}

{{ if .Page.HasShortcode "calculators/calc_bacterial_growth" }}
  <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>  <!-- save as excel -->
  <script src="{{ "js/calculators/calc_bacterial_growth.js" | relURL }}"></script>
{{ end }}

{{ if .Page.HasShortcode "calculators/display_current_time" }}
<script src="{{ "js/calculators/display_current_time.js" | relURL }}"></script>
{{ end }}

<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script> <!-- generate QR -->
<script src="{{ "js/save_journal_label.js" | relURL }}"></script>
<!-- scripts -->

</body>

</html>