/* =============================== */
/* Book container                  */
/* =============================== */

.sheets-book {
  max-width: 100%;
  padding-left: 48px;
  padding-right: 48px;
}

/* =============================== */
/* Header                          */
/* =============================== */
.sheets-header h1 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 8px;
}

.sheets-intro {
  font-size: 16px;
  color: #4b5563;
  max-width: 640px;
}

.sheets-book .chapter-list {
  list-style: none;
  padding: 0;
  margin-top: 36px;
}

.sheets-book .chapter-list li {
  margin: 16px 0;
}

.sheets-book .chapter-list a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #1f2937;
}

.sheets-book .chapter-list a:hover {
  text-decoration: underline;
}

.sheets-list {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.sheets-list li {
  margin: 10px 0;
}

/* Row */
.sheets-list a {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: #111827;
}

.sheets-left {
  display: inline-flex;
  gap: 6px;
  white-space: nowrap;
}

.sheets-name {
  font-weight: 500;
  color: #3b82f6;
}

.sheets-formula {
  font-size: 14px;
  color: #3b82f6;
}

.sheets-leader {
  flex: 1;
  margin: 0 12px;
  border-bottom: 1px dotted #bfdbfe; /* light blue */
  transform: translateY(-3px);
}

.sheets-right {
  white-space: nowrap;
  font-size: 14px;
  color: #3b82f6;
}

.sheets-list a:hover .sheets-name {
  text-decoration: underline;
  color: #d2e9ff
}
body.darkmode .sheets-list a:hover .sheets-name {
  color: #d2e9ff;
}

@media (max-width: 700px) {
  .sheets-list a {
    flex-direction: column;
    gap: 4px;
  }

  .sheets-leader {
    display: none;
  }

  .sheets-right {
    color: #374151;
  }
}
