<div class="calc-recipe-amount-controls">
  <label>
    Final Volume:
    <select class="calc-amount">
      <option value="1" selected>1 gel</option>
      <option value="2">2 gels</option>
      <option value="3">3 gels</option>
      <option value="4">4 gels</option>
      <option value="5">5 gels</option>
      <option value="6">6 gels</option>
      <option value="7">7 gels</option>
      <option value="8">8 gels</option>
      <option value="9">9 gels</option>
      <option value="10">10 gels</option>
    </select>
  </label>
</div>