<!--work in prgress, not used jet-->

<div class="molarity-calc">

  <label>
    Concentration:
    <input type="number" class="mc-conc" value="50" step="any">
    <select class="mc-conc-unit">
      <option value="1">M</option>
      <option value="1e-3" selected>mM</option>
      <option value="1e-6">µM</option>
      <option value="1e-9">nM</option>
    </select>
  </label>

  <label>
    Volume:
    <input type="number" class="mc-vol" value="1" step="any">
    <select class="mc-vol-unit">
      <option value="1">L</option>
      <option value="1e-3" selected>mL</option>
    </select>
  </label>

</div>